<div class="col-xs-2">
  <p>
    <% if @current_user %>
      <% if @current_user.liked?(gif) %>
        <strong>Liked</strong>
      <% else %>
        <%= link_to "Like", votes_path(:value => 1, :gif_id => gif.id), :method => :post, :remote => true %>
      <% end %>
    <% end %>
  </p>
</div>
<div class="col-xs-8">
  <p class="text-center">Posted by: <%= link_to gif.user.username, gifs_path(:user => gif.user.username), remote: true %></p>
</div>
<div class="col-xs-2">
  <p class="text-right">
    <% if @current_user %>
      <% if @current_user.disliked?(gif) %>
        <strong>Disliked</strong>
      <% else %>
        <%= link_to "Dislike", votes_path(:value => -1, :gif_id => gif.id), :method => :post, :remote => true %>
      <% end %>
    <% end %>
  </p>
</div>
