// Place all the styles related to the Gifs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#gif_list .row {
  padding-bottom: 30px;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}
